<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUKKX3H30HmBupIWRtcQdfOppzXZaeeGw</string>
	<key>GCM_SENDER_ID</key>
	<string>1020480123168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adopteUnCandidat</string>
	<key>PROJECT_ID</key>
	<string>adopte-un-candidat</string>
	<key>STORAGE_BUCKET</key>
	<string>adopte-un-candidat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020480123168:ios:e8f3bc2bec06d41406a745</string>
</dict>
</plist>